html
	body
		h1 Oneclick-fontchanger
		p.
			Oneclick-fontchanger is a chrome extension.
			A chrome extension that lets you switch between two fonts via keyboard shortcuts. For convnience,you can use 2 keyboard shortcuts(default Ctrl+B and Alt+B).

			The extension was originally written to solve the problem of quickly changing between Zawgyi-One and Myanmar Unicode. But you can change to any two fonts via options.
		p.
			You can download <a href="/download">here</a>
		p=	"It has been downloaded " + count +" times"

		h3 Installation
		ol
			li.
				Download the extension <a href="/download">Oneclick-fontchanger</a>
			li.
				Open the settings page.
			li.
				Go To Extension Tab.
			li.
				Drag the downloaded file onto extension page.
			li.
				Chrome will ask you permission. Click add.
			li.
				You will find oneclic-fontchanger in your extension list.
			li.
				You can customize fonts via its options page.

